<cn-code-list-list
	[items]="sortedItems()"
	[itemTemplate]="viewTemplate"
	[itemActionsTemplate]="detailTemplate"
	[codeListActions]="codeListActions()"
	[paginate]="true"
	[pageSize]="20" 
	[pageSizeOptions]="[5, 10, 25]"
	[hidePageSize]="true"
	[filter]="filter"
></cn-code-list-list>

<ng-template #detailTemplate let-item>
	<cn-code-list-actions
		[item]="item"
		[leftActions]="leftActions(item)"
		[rightActions]="rightActions(item)"
	></cn-code-list-actions>
</ng-template>

<ng-template #viewTemplate let-item>
    <div class="d-grid" style="grid-template-columns: auto 1fr;">
		<div
		class="status-dot"
		[class.bg-info]="item.status === 1"
		[class.bg-dark]="item.status === 2"
		[matTooltip]="statusLabel(item.status)"
		matTooltipPosition="right"
		></div>
        <div class="grid" style="--columns: 2">
			<div class="display-value">
				<div class="list-item-label" i18n="@@cn.role-list.name-label">
					Name
				</div>
				<div class="list-item-title">{{ item.name }}</div>
			</div>
			@if (parentName(item)) {
				<div class="display-value">
					<div class="list-item-label" i18n="@@cn.role-list.parent-label">
						Parent role
					</div>
					<div class="list-item-value">{{ parentName(item) }}</div>
				</div>
			}
		</div>
	</div>
</ng-template>