<cn-code-list-list
	[items]="items()"
	[itemTemplate]="viewTemplate"
	[itemActionsTemplate]="detailTemplate"
	[codeListActions]="codeListActions()"
>
</cn-code-list-list>

<ng-template #detailTemplate let-item>
	<cn-code-list-actions
		[item]="item"
		[leftActions]="leftActions(item)"
		[rightActions]="rightActions(item)"
	></cn-code-list-actions>
</ng-template>

<ng-template #viewTemplate let-item>
	<div class="d-flex">
		<div
			class="status-dot"
			[class.bg-info]="item.status === 1"
			[class.bg-dark]="item.status === 2"
		></div>
		<div class="grid w-10" style="--columns: 3">
			<div class="display-value">
				<div class="list-item-label" i18n="@@cn.user-list.email-label">
					Username
				</div>
				<div class="list-item-title">{{ item.email }}</div>
			</div>
			<div class="display-value">
				<div class="list-item-label" i18n="@@cn.user-list.first-name-label">
					Name
				</div>
				<div class="list-item-title">{{ item.firstName }}</div>
			</div>
			<div class="display-value">
				<div class="list-item-label" i18n="@@cn.user-list.last-name-label">
					Last name
				</div>
				<div class="list-item-title">{{ item.lastName }}</div>
			</div>
		</div>
	</div>
</ng-template>
